#ratesCard {
  margin-top: 20px;
}

/* Card Style */
.cards {
  border-radius: 15px;
}

.cardHeader {
  padding: 25px 0px 0px 30px;
}

#ratesCardHeader {
  padding: 25px 0px 20px 30px;
}

#selectedCountryDiv {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.parcelTypeItem {
  margin-top: 15px;
}

#weightErrorMessage {
  color: rgb(255, 107, 107);
}

.getRatesButton {
  --background: var(--ion-color-tertiary);
  --border-radius: 10px;
  margin: 0 10px;
  margin-bottom: 15px;
}
