@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

#ratesCard {
  margin-top: 20px;
}

/* Card Style */
.cards {
  border-radius: 15px;
}

.cardHeader {
  padding: 25px 0px 0px 30px;
}

#ratesCardHeader {
  padding: 25px 0px 20px 30px;
}

#selectedCountryDiv {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.parcelTypeItem {
  margin-top: 15px;
}

#weightErrorMessage {
  color: rgb(255, 107, 107);
}

.getRatesButton {
  --background: var(--ion-color-tertiary);
  --border-radius: 10px;
  margin: 0 10px;
  margin-bottom: 15px;
}
